<div class="container-fluid">
    <div class="introduction">
        <div class="web-introduction">
            <div class="text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary-main">Voyage Vista</span>
                    <br>
                    <span class="heading-primary-sub">Your Window to the World's Wonders</span>
                </h1>
                <a href="#" (click)="smoothScroll($event, 'target')" class="btn btn-white btn-animated">discover with us</a>
            </div>
        </div>
        <main>
            <section class="section-about">
                <div class="wrap">
                    <h2 class="heading-secondary">
                        Existing places for people
                    </h2>
                </div>
                <div class="row">
                    <div class="col-1">
                        <h3 class="heading-tertiary">Explore beautiful places around the world with us</h3>
                        <p>With a passion for exploration and a commitment to crafting unforgettable experiences, we
                            invite you to traverse the world alongside us. From the majestic peaks that touch the sky to
                            the serene coastal getaways, our platform is a gateway to a tapestry of cultures,
                            landscapes, and stories waiting to be uncovered. Immerse yourself in the narratives of
                            fellow travelers, drawn from the heart of their expeditions. Let the wanderlust take hold as
                            we share insightful guides, breathtaking photographs, and personal anecdotes, all designed
                            to ignite your wanderlust and provide you with the inspiration you need to set forth on your
                            own remarkable adventures. Your next journey starts here.</p>
                        <h3 class="heading-tertiary">Enjoy you holiday with us</h3>
                        <p>Step into a realm of boundless wanderlust as you delve into our travel-centric website. Our
                            virtual haven is dedicated to kindling the spirit of adventure within you. Whether you're a
                            seasoned globetrotter or a curious explorer, our collection of travelogues, destination
                            highlights, and practical tips will fuel your desire to roam the globe. We believe that each
                            journey is a story waiting to be shared, and our platform serves as a canvas for those
                            narratives. Discover hidden gems, unravel the mysteries of far-off lands, and connect with a
                            community that thrives on the thrill of discovery. Join us in celebrating the art of travel
                            and unravel the world's most captivating tales, one destination at a time.</p>
                        <a href="#" class="btn-text">Learn more &rarr;</a>
                    </div>
                    <div class="col-2">
                        <div class="image-group">
                            <img class="image photo1" src="../../../assets/images/laketekapo_image.jpg" alt="">
                            <img class="image photo2" src="../../../assets/images/china_image.jpg" alt="">
                            <img class="image photo3" src="../../../assets/images/europe.jpg" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <section class="features">
                <div class="features-row">
                    <div class="features-col-1">
                        <div class="features-box">
                            <img src="../../../assets/icons/world.png" class="features-box-icon">
                            <div class="heading-tertiary">Explore the world</div>
                            <div class="feature-box_text">Whether you're a seasoned globetrotter charting your next
                                expedition or a newbie plotting your maiden voyage, JourneyMosaic is your trusted
                                companion. Dive into our rich tapestry of journeys, let inspiration take the helm, and
                                chart your own unique course through the wonders of our world. With us, every trip
                                becomes a chapter in your personal epic. Welcome to the odyssey of a lifetime.</div>
                        </div>
                    </div>
                    <div class="features-col-1">
                        <div class="features-box">
                            <img src="../../../assets/icons/travel.png" class="features-box-icon">
                            <div class="heading-tertiary">Unearth Your Next Adventure</div>
                            <div class="feature-box_text">Whether you're a solo backpacker seeking off-beaten paths or a
                                family yearning for a luxurious retreat, our curated selection of destinations, travel
                                stories, and expert advice ensures that your next voyage is not just a trip, but a
                                timeless memory. Dive deep into our trove of travel insights, gather inspiration, and
                                let the compass of your curiosity guide you. Your odyssey of a lifetime begins here.
                                Welcome aboard!</div>
                        </div>
                    </div>
                    <div class="features-col-1">
                        <div class="features-box">
                            <img src="../../../assets/icons/hotel.png" class="features-box-icon">
                            <div class="heading-tertiary">Your Home Away From Home</div>
                            <div class="feature-box_text">Whether you're on a whirlwind business trip, a romantic
                                getaway, or a month-long backpacking tour, Voyage Vista promises to make every place
                                feel like home. So, delve in, discover, and reserve your next haven. Your dream stay is
                                just a click away. Welcome to your travel comfort zone!.</div>
                        </div>
                    </div>
                    <div class="features-col-1">
                        <div class="features-box">
                            <img src="../../../assets/icons/restaurant.png" class="features-box-icon">
                            <div class="heading-tertiary">Savor the World on a Plate</div>
                            <div class="feature-box_text">Whether you're a casual traveler looking to eat as the locals
                                do or a gourmet seeking the next culinary masterpiece, Voyage Vista is your compass
                                pointing to the world’s best plates. Dive into our flavorful world and let your palate
                                lead the way. Here, every bite is an adventure. Bon appétit and happy travels!</div>
                        </div>
                    </div>
                </div>

            </section>
            <section class="section-continents">
                <div id="target" class="wrap">
                    <h2 class="heading-secondary">
                        Where do you want to go?
                    </h2>
                </div>
                <div class="continents-row">
                    <div class="continents-col">
                        <div class="card">
                            <div class="card-center">
                                <div class="card_side front">
                                    <div class="card-picture card-picture-3">
                                    </div>
                                    <div class="card-header">
                                        <span class="card-header-span card-header-span-3">Europe</span>
                                    </div>
                                    <div class="card-details">
                                        <ul class="card-details-ul">
                                            <li class="card-details-li">Cultural and Historical Richness</li>
                                            <li class="card-details-li">Architectural Wonders</li>
                                            <li class="card-details-li">World-class Museums and Art</li>
                                            <li class="card-details-li">Natural Beauty and Diversity</li>
                                            <li class="card-details-li">Romantic Getaways</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card_side back back-3">
                                    <div class="btn-wrap">
                                        <a href="#" [routerLink]="['europe', {data: 'europe'}]" (click)="onClick('europe')" class="btn btn-white btn-animated btn-card">discover</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="continents-col">
                        <div class="card">
                            <div class="card-center">
                                <div class="card_side front">
                                    <div class="card-picture card-picture-2">
                                    </div>
                                    <div class="card-header">
                                        <span class="card-header-span card-header-span-2">Asia</span>
                                    </div>
                                    <div class="card-details">
                                        <ul class="card-details-ul">
                                            <li class="card-details-li">Historical Richness</li>
                                            <li class="card-details-li">Culinary Experiences</li>
                                            <li class="card-details-li">Wildlife and Adventure</li>
                                            <li class="card-details-li">Modern Metropolises</li>
                                            <li class="card-details-li">Natural Beauty</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card_side back back-2">
                                    <div class="btn-wrap">
                                        <a href="#" [routerLink]="['asia', {data: 'asia'}]" (click)="onClick('asia')" class="btn btn-white btn-animated btn-card">discover</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="continents-col">
                        <div class="card">
                            <div class="card-center">
                                <div class="card_side front">
                                    <div class="card-picture card-picture-1">
                                    </div>
                                    <div class="card-header">
                                        <span class="card-header-span card-header-span-1">Oceania</span>
                                    </div>
                                    <div class="card-details">
                                        <ul class="card-details-ul">
                                            <li class="card-details-li">Natural Beauty</li>
                                            <li class="card-details-li">Diverse Landscapes</li>
                                            <li class="card-details-li">Unique Wildlife</li>
                                            <li class="card-details-li">Friendly Locals</li>
                                            <li class="card-details-li">Unique Culinary Experiences</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card_side back back-1">
                                    <div class="btn-wrap">
                                        <a href="#" [routerLink]="['oceania', {data: 'oceania'}]" (click)="onClick('oceania')" class="btn btn-white btn-animated btn-card">discover</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-stories">
                <div class="background-video">
                    <video class="background-video-content" [autoplay]="true" [muted]="true" [loop]="true">
                        <source src="../../../assets/videos/background-video.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="wrap">
                    <h2 class="heading-secondary">
                        We make people happy
                    </h2>
                </div>
                <div class="stories-row">
                    <div class="story">
                        <figure class="story-shape">
                            <img class="traveler-image" src="../../../assets/images/traveler1.jpg" alt="">
                            <figcaption class="story-caption">Jack McKenzie</figcaption>
                        </figure>
                        <div class="story-text">
                            <h3 class="heading-tertiary">A Journey Beyond Expectations!</h3>
                            <p>Voyage Vista is an absolute game-changer! Their website's user-friendly interface and
                                personalized customer support took the hassle out of travel planning. With a wide range
                                of destinations and meticulous attention to detail, they truly turned my vacation into
                                an unforgettable experience. From start to finish, Voyage Vista exceeded my
                                expectations, and I can't wait to explore more with them!</p>
                        </div>
                    </div>
                    <div class="story">
                        <figure class="story-shape">
                            <img class="traveler-image2" src="../../../assets/images/traveler2.jpg" alt="">
                            <figcaption class="story-caption">Isabella Mitchell</figcaption>
                        </figure>
                        <div class="story-text">
                            <h3 class="heading-tertiary">Seamless Travel Planning and Unforgettable Journeys with Voyage
                                Vista!</h3>
                            <p>Voyage Vista has made planning my travels a joy. The website's sleek design and easy
                                navigation simplify the process, while their tailored itineraries and attentive customer
                                support ensure every trip is a masterpiece. Thanks to Voyage Vista, I've discovered
                                unforgettable destinations and created cherished memories.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-information">
                <div class="section-information-row">
                    <div class="information">
                        <div class="information-form">
                            <h2 class="heading-secondary heading-booking">
                                Leave your information
                            </h2>
                            <form #form = "ngForm" (ngSubmit)="sendInformation(form)" action="#" class="form">
                                <div class="form-group">
                                    <input type="name" class="form-input" placeholder="Full Name..." name="name" ngModel required>
                                    <!-- <label for="name" class="form-label">Full Name</label> -->
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-input" placeholder="Email" name="email" ngModel required>
                                    <!-- <label for="email" class="form-label">Email</label> -->
                                </div>
                            </form>
                            <div class="button-information">
                                <a (click)="sendInformation(form)" class="a-tag-information">
                                    <svg>
                                        <rect x="0" y="0" fill="none" width="100%" height="100%" />
                                    </svg>
                                    Send
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer_logo-box">
                <img src="../../../assets/logo/logo.png" class="footer-logo" alt="">
            </div>
            <div class="row">
                <div class="col-1">
                    <div class="footer-navigation">
                        <ul class="footer-list">
                            <li class="footer-item"><a href="#" class="footer-link">Company</a></li>
                            <li class="footer-item"><a href="#" class="footer-link">Staff</a></li>
                            <li class="footer-item"><a href="#" class="footer-link">Contact Us</a></li>
                            <li class="footer-item"><a href="#" class="footer-link">Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-2">
                    <p class="footer-copyright">
                        Copyright © 2023 Thien Pham. All rights reserved. <br>
                        For inquiries regarding the use of materials from this website, please contact:<br>
                        Thien Pham<br>
                        huuthien241@gmail.com<br>
                        University of Technology Sydney<br>
                        15 Broadway, Ultimo NSW 2007
                    </p>
                </div>
            </div>
        </footer>
        <!-- <div class="list-continents">
            <mat-grid-list cols="2" rowHeight="2:1">
                <a href="#" [routerLink]="['oceania', {data: 'oceania'}]" (click)="onClick('oceania')"><mat-grid-tile
                        class="oceania">Oceania</mat-grid-tile></a>
                <a href="#" [routerLink]="['asia', {data: 'asia'}]" (click)="onClick('asia')"><mat-grid-tile
                        class="asia">Asia</mat-grid-tile></a>
                <a (click)="onClick('north-america')"><mat-grid-tile class="north-america">North
                        America</mat-grid-tile></a>
                <a (click)="onClick('south-america')"><mat-grid-tile class="south-america">South
                        America</mat-grid-tile></a>
                <a (click)="onClick('europe')"><mat-grid-tile class="europe">Europe</mat-grid-tile></a>
                <a (click)="onClick('africa')"><mat-grid-tile class="africa">Africa</mat-grid-tile></a>
            </mat-grid-list>
        </div> -->
    </div>

</div>