<div class="body">
    <mat-tab-group>
        <mat-tab label="Dynamic and vibrant city">
            <app-place-list [place] = "place" [type]="'dynamic'"></app-place-list>
        </mat-tab>
        <mat-tab label="Peaceful place">
             <app-place-list [place] = "place" [type]="'peaceful'"></app-place-list> 
            </mat-tab>
        <mat-tab label="Nature and Wildlife"> 
            <app-place-list [place] = "place" [type]="'natural'"></app-place-list>     
        </mat-tab>
    </mat-tab-group>
</div>



