<div class="background-video">
    <video class="background-video-content" [autoplay]="true" [loop]="true" [muted]="true">
        <source src="../../../assets/videos/login-video.mp4" type="video/mp4">
    </video>
</div>
<div class="login-form">
    <div class="logo">
        <img  src="../../../assets/logo/logo.png" alt="">    
    </div>
    <form #form = "ngForm" action="#" class="form" (ngSubmit)="userLogin(form)">
        <div class="form-group">
            <input type="email" class="form-input" placeholder="Email" name="email" ngModel required>
        </div>
        <div class="form-group">
            <input type="password" class="form-input" placeholder="Password" name="password" ngModel required>
        </div>
        <button mat-raised-button color="primary" type="submit">LOGIN</button>

    </form>

</div>
